.About {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 40vh;
  padding: 30px 300px;
  background: #ffbf23;
  overflow: hidden;
}
.Left {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
}
.Left h2 {
  font-weight: normal;
  font-size: 40px;
  text-transform: capitalize;
}
.Right {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  padding: 0 40px;
}
.Right p {
  font-size: 18px;
  line-height: 1.5;
}

/* media queries */
@media (max-width: 1650px) {
  .About {
    padding: 30px 100px;
  }
}
@media (max-width: 1440px) {
  .Left h2 {
    margin-top: 80px;
  }
}

@media (max-width: 1024px) {
  .About {
    padding: 30px 50px;
  }
    .Right {
      padding: 0;
    }
}
@media (max-width: 768px) {
  .About {
      padding: 20px;
      height: fit-content;
      flex-direction: column;
      justify-content: space-between;
    }
  
    .Left {
      justify-content: flex-start;
      width: 100%;
      height: fit-content;
      padding: 0 20px;
    }
  
    .Right {
      width: 100%;
      padding: 0 20px;
    }
  
    .Right p {
      margin-bottom: 80px;
    }
  }
@media (max-width: 320px) {
  .Right p {
      font-size: 16px;
    }
    .Left {
      padding: 0;
    }
  
    .Right {
      padding: 0;
    }
}
