.Example {
    position: absolute;
    right: 0;
    top: 0;
    height: 70vh;
    width: 60%;
    /* bottom: 0; */
}
.Example body {
    overflow: hidden;
}
.background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #fff;
    /* opacity: 0; */
    z-index: 10;
}