.Hero {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;
  min-height: 80vh;
  padding: 0 200px;
  overflow: hidden;
}
.Left {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 80vh;
  z-index: 100;
}
.Left h1 {
  font-size: 50px;
  font-family: "Spacegrotesk";
  font-weight: normal;
  margin-top: 150px;
  margin-bottom: 30px;
}
.Left p {
  font-size: 20px;
  font-family: "ProximaNovaFont";
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 30px;
  margin-top: 0;
}
.Left button {
  width: fit-content;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
  border: none;
  border-radius: 5px;
  margin-bottom: 70px;
  margin-top: 0;
  cursor: pointer;
}
.Left ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
  margin-top: 0;
  gap: 40px;
}
.Left ul li {
  display: flex;
  margin-right: 0;
  align-items: center;
}
.Left ul li p {
  margin: 0;
  margin-right: 0;
  font-family: "SpaceGrotesk-Light";
  font-size: 13px;
}
.Icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid #000;
  margin-right: 10px;
  border-radius: 5px;
  background-color: #ffbf23;
  cursor: pointer;
}
.Right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 80vh;
}
.Image {
  position: relative;
  width: 60%;
  height: 60%;
  z-index: 200;
}
.Blob {
  position: absolute;
  width: 45%;
  overflow: hidden;
  z-index: 100;
}
.Wave {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -5vh;
}
@media (max-width: 1650px) {
  .Hero {
    padding: 0 100px;
  }

 
}
/* media queries */
@media (max-width: 1440px) {
  .Hero {
    padding: 0 100px;
  }
  .Left h1 {
    font-size: 40px;
  margin-top: 80px;
  }
  .Left p {
    font-size: 18px;
  }
  .Left ul li p {
    font-size: 12px;
  }
  .Image {
    width: 400px;
    height: 400px;
  }
  .Blob {
    width: 700px;
  }
  .Wave {
    bottom: -10vh;
  }
}
@media (max-width: 1200px) {
  .Hero {
    padding: 0 100px;
  }
}
/* media queries */
@media (max-width: 1024px) {
  .Hero {
    padding: 0 50px;
  }

  .Left h1 {
    font-size: 40px;
    margin-top: 80px;
  }

  .Left p {
    font-size: 18px;
  }

  .Left ul li p {
    font-size: 12px;
  }

  .Image {
    width: 400px;
    height: 400px;
  }

  .Blob {
    width: 700px;
  }

  .Wave {
    bottom: -10vh;
  }
}

/* media queries */
@media (max-width: 970px) {
  .Hero {
    padding: 0 50px;
  }

  .Left h1 {
    font-size: 40px;
    margin-top: 80px;
  }

  .Left p {
    font-size: 18px;

  }

    .Left ul {
      margin-bottom: 0;
      gap: 20px;
    }

  .Left ul li p {
    font-size: 10px;
  }

  .Image {
    width: 70%;
    height: 40%;
  }

  .Blob {
    width: 60%;
  }

  .Wave {
    bottom: -10vh;
  }
}

@media (max-width: 768px) {
  .Hero {
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    padding: 0 50px;
  }
  .Left {
    width: 100%;
    height: 50vh;
    justify-content: center;
    margin-bottom: 20px;
  }
  .Left h1 {
    font-size: 40px;
    margin-top: 0;
  }
  .Left p {
    font-size: 18px;
    width: 100%;
  }
  .Left button {
    margin-bottom: 30px;
    font-size: 12px;
  }
  .Left ul {
    margin-bottom: 0;
  }
  .Left ul li {
    margin-right: 0;
  }
  .Left ul li p {
    font-size: 12px;
  }
  .Right {
    width: 100%;
    height: 50vh;
  justify-content: center;
  position: relative;
  }
  .Image {
    width: 350px;
    height: 350px;
    position: absolute;
  }
  .Blob {
    width: 80%;
    position: absolute;
  }
  .Wave {
    bottom: -10vh;
  }
}
@media (max-width: 600px) {
  .Hero {
    padding: 0 20px;
  }
  .Left {
    width: 100%;
      height: 50vh;
      justify-content: center;
      margin-bottom: 20px;
    padding: 0 20px;
  }
  .Left h1 {
    font-size: 30px;
  }
  .Left p {
    font-size: 16px;
  }
  .Left ul li {
    margin-right: 0;
  }
  .Left ul li p {
    font-size: 10px;
  }
    .Right {
      width: 100%;
      height: 50vh;
      justify-content: center;
      position: relative;
    }
  .Image {
    width: 250px;
    height: 250px;
  }
  .Blob {
    width: 80%;
  }
  .Wave {
    bottom: -5vh;
  }
}
/* max-width 500px */
@media (max-width: 500px) {
  .Hero {
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    padding: 0 10px;
  }
  .Left {
    padding: 0 10px;
    margin-bottom: 20px;
    height: 50vh;
    width: 100%;
    padding: 0 20px;
  }
  .Left h1 {
    font-size: 25px;
    /* margin-top: 50px; */
  }
  .Left p {
    font-size: 14px;
  }
  .Left ul li {
    margin-right: 0;
  }
  .Left ul li p {
    font-size: 10px;
  }
  .Right {
    width: 100%;
      height: 40vh;
      justify-content: flex-start;
      position: relative;
  }
  .Image {
    width: 250px;
    height: 250px;
  }
  .Blob {
    width: 80%;
  }
  .Wave {
    bottom: -2vh;
  }
}
/* max-width 420px */
@media (max-width: 420px) {
  .Hero {
    padding: 30px 20px;
    justify-content: center;
  }
  .Left {
    padding: 0 5px;
    justify-content: flex-end;
  }
  .Left h1 {
    font-size: 30px;
  }
  .Left p {
    font-size: 14px;
  }
  .Left ul {
    padding: 0;
    margin-bottom: 30px;
    margin-top: 0;
  gap: 20px;
  }
  .Left ul li {
    margin-right: 0;
  }
  .Left ul li p {
    font-size: 10px;
  }
  .Right {
    padding: 0 5px;
    justify-content: flex-start;
  }
  .Image {
    width: 250px;
    height: 250px;
  }
  .Blob {
    width: 350px;
  }
  .Wave {
    bottom: -1vh;
  }
}

/* max-width 375px */
@media (max-width: 375px) {
  .Hero {
    padding: 30px 20px;
    justify-content: center;
  }

  .Left {
    padding: 0 5px;
    justify-content: flex-end;
  }

  .Left h1 {
    font-size: 26px;
  }

  .Left p {
    font-size: 12px;
  }

  .Left ul {
    padding: 0;
    margin-bottom: 30px;
    margin-top: 0;
  gap: 15px;
  }

  .Left ul li {
    margin-right: 0;
  }

  .Left ul li p {
    font-size: 8px;
  }

    .Left button {
      font-size: 14px;
    }

  .Right {
    padding: 0 5px;
    justify-content: flex-start;
  }

  .Image {
    width: 250px;
    height: 250px;
  }

  .Blob {
    width: 350px;
  }

  .Wave {
    bottom: -1vh;
  }
}
/* max-width 320px */
@media (max-width: 320px) {
  .Hero {
      padding: 20px 20px;
      justify-content: center;
      height: fit-content;
    }
  
    .Left {
      padding: 0 5px;
      justify-content: flex-end;
    height: fit-content;
    }
  
    .Left h1 {
      font-size: 26px;
    }
  
    .Left p {
      font-size: 12px;
    }
  
    .Left ul {
      padding: 0;
      margin-bottom: 30px;
      margin-top: 0;
      gap: 10px;
    }
  
    .Left ul li {
      margin-right: 0;
    }
  
    .Left ul li p {
      font-size: 8px;
    }
  
    .Left button {
      font-size: 12px;
    }

    .Icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      border: 2px solid #000;
      margin-right: 10px;
      border-radius: 5px;
    }
  
    .Right {
      padding: 0 5px;
      justify-content: flex-start;
    /* height: fit-content; */
    }
  
    .Image {
      width: 250px;
      height: 250px;
    }
  
    .Blob {
      width: 350px;
    }
  
    .Wave {
      bottom: -1vh;
    }
}
