.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  width: 100%;
  height: fit-content;
}

.Logo {
  position: relative;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.Logo h2 {
  font-size: 24px;
  cursor: pointer;
}
.Center ul {
  display: flex;
  list-style: none;
  gap: 30px;
}
.Center ul li {
  font-size: 18px;
  cursor: pointer;
  letter-spacing: 1.5px;
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 5px;
}
.Right {
  display: flex;
  gap: 5px;
}
.Icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  cursor: pointer;
}
.Nav nav {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 600px;
  width: 70vw;
  display: none;
  overflow: hidden;
  z-index: 999;
}

/* media queries  max-width: 1024px*/
@media (max-width: 1024px) {
  .Nav {
    padding: 20px 40px;
  }
  .Center ul {
    gap: 15px;
  }
    .Logo {
      width: 80px;
      height: 80px;
    }
}
@media (max-width: 880px) {
  .Right {
    gap: 10px;
  }
    .Center ul li {
      font-size: 18px;
    }
}

/* media queries  max-width: 768px*/
@media (max-width: 768px) {
  .Nav {
    padding: 20px 20px;
  }
  .Center {
    display: none;
  }
  .Right {
    display: none;
  }
  .Nav nav {
    display: inline;
  }
}

/* media queries  max-width: 650px*/
@media (max-width: 650px) {
  .Nav {
    padding: 20px 20px;
  }
  .Logo {
    width: 60px;
    height: 60px;
  }
}

/* media queries  max-width: 420px*/
@media (max-width: 420px) {
  .Nav {
    padding: 20px 20px;
  }
  .Logo {
    width: 50px;
    height: 50px;
  }
}
