.Nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 20px;
    right: 0;
}
.Nav .navigation__buttons {
    display: flex;
    gap: 20px;
    /* justify-content: center; */
    /* margin-bottom: 20px; */
}

.Nav ul,
.Nav li,
.Nav p {
    margin: 0;
    padding: 0;
}

.Nav ul {
    padding: 25px;
    position: relative;
    /* top: 100px; */
    width: 100%;
    z-index: 15;
}
.Social {
    position: relative;
    padding: 0 25px;
    width: 60vw;
    height: fit-content;
    z-index: 15;
}
.Nav hr {
    margin-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    height: 1px;
    border: none;
}

.Nav li {
    list-style: none;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    font-size: 18px;
}

.Nav a {
    text-decoration: none;
}

.Nav a>li {
    color: black;
    font-weight: 600;
}