
.Nav .navigation__buttons {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.Nav ul,
.Nav li {
    margin: 0;
    padding: 0;
}

.Nav ul {
    padding: 25px 0 25px 25px;
    position: relative;
    top: 100px;
    width: 60vw;
    z-index: 2;
}

.Nav hr {
    margin-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    height: 2px;
    border: none;
}

.Nav li {
    list-style: none;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    font-size: large;
}

.Nav a {
    text-decoration: none;
}

.Nav a>li {
    color: black;
    font-weight: 600;
}